In [25]:
a = 10 + 5 * 3
b = (10 + 5) * 3
c = 20 / 4
d = 20 // 4
e = 21 % 4
f = 2 ** 5
print(a,b,c,d,e,f)

25 45 5.0 5 1 32

In [ ]:
5 + 3 * 2 - 8 / 4 ** 2 
# The answer is 10.5

10.5

In [27]:
50 > 100

False

In [28]:
33 == 33.0

True

In [29]:
"hello" != "word"

True

In [30]:
len("python") >= 5

True

In [32]:
city = "New York"
print(city)
city = "London"
print(city)

New York
London

In [ ]:
score = 50
score += 25
score *= 2
print (score)

150

In [41]:
#Which of the following variable names are invalid? Explain why.

#1st_place => invalid
#first-place => invalid
#_first_place => valid
#for => valid
#FirstPlace => valid

In [42]:
#What is the data type of each of the following values?

#99 Integer
#"99" String
#99.0 Float
#False Boolean
#None => Nothing

In [45]:
price_str = "25.99"
price_float=float(price_str)
quantity = 3
quantity = str(quantity)
print(quantity + " items")

3 items

In [47]:
first_name = "Nijat"
last_name = "Shabanov"
full_name = first_name + last_name
separator = "-"
print(full_name, 30 * separator)

NijatShabanov ------------------------------

In [8]:
text = "The file is located at:\nC:\\Users\\new_folder\\tabbed_file.txt\nHe said ,\"It\'s a beautiful day.\""

print(text)

The file is located at:
C:\Users\new_folder\tabbed_file.txt
He said ,"It's a beautiful day."

In [20]:
s = "Programming is fun!"
print(s[4])#What character is at index 4?
print(s[len(s)-1])#What is the last character of the string?
print(s[11:13])#What substring do you get from slicing s[11:13]?
print(s[3:7])#How can you get the substring "gram"?
print(s[-1::-1])#How can you get the substring "gram"?

r
!
 i
gram
!nuf si gnimmargorP

In [32]:
tweet = "  WOW, what a great game! #sports #python  "
print(tweet.lower())#Convert the entire tweet to lowercase.
print(tweet.strip())#Remove the leading and trailing whitespace.
print(tweet.replace("#python" ,"#DataScience"))#Replace "#python" with "#DataScience".
print(tweet.split())#Split the cleaned tweet into a list of words.

  wow, what a great game! #sports #python
WOW, what a great game! #sports #python
  WOW, what a great game! #sports #DataScience
['WOW,', 'what', 'a', 'great', 'game!', '#sports', '#python']

In [38]:
name = input()
print(f"Hello,{name}")

Hello,n

In [40]:
current_year = int(input())
birth_year = int(input())
age = current_year - birth_year
print(f"your age is {age}")

your age is 1

In [47]:
item = "Laptop"
price = 1200.50
quantity = 2
total_cost = price * quantity
tweet1 = f"Item : {item},Quantity : {quantity}, Total cost : ${total_cost}"
print("Item : {item},Quantity : {quantity}, Total cost : ${total_cost}")
print(tweet1.split())

Item : {item},Quantity : {quantity}, Total cost : ${total_cost}
['Item', ':', 'Laptop,Quantity', ':', '2,', 'Total', 'cost', ':', '$2401.0']