In [30]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
print(colors[2])
print(colors[-1])
primary_colors = colors[0:3]
print(primary_colors)

blue
purple
['red', 'green', 'blue']

In [41]:
colors  = ['red', 'green', 'blue', 'yellow', 'purple']
colors[3] = 'magenta'
colors.append("cyan")
colors.insert(1,"orange")
colors.remove("blue")
print(colors)

['red', 'orange', 'green', 'magenta', 'purple', 'cyan']

In [45]:
tic_tac_toe  = [['x', 'o', 'x'],
                ['o', 'x', 'o'],
                ['x', 'o', '']]
print(tic_tac_toe[1][1])

tic_tac_toe[2][2] = 'o'
tic_tac_toe

x

[['x', 'o', 'x'], ['o', 'x', 'o'], ['x', 'o', 'o']]

In [46]:
weekdays = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
weekdays[0] = "Funday" # gives error
weekdays[3]

TypeError: 'tuple' object does not support item assignment

In [48]:
X = int(input())
if X>= 90:
    print("your Grade is A")
elif X>= 80:
    print("your Grade is B")
elif X>=70:
    print("your Grade is C")
elif X>=60:
    print("your Grade is D")
else:
    print("your grade is F")

your Grade is A

In [51]:
#print((10 > 5) and (5 < 3)) T and F => F
#print((10 > 5) or (5 < 3)) T or F => T
#print(not (5 == 5)) False
#print(1 < 3 < 5) True
#print(1 < 3 and 3 > 5) T and F => F

In [59]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in numbers:
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [63]:
i = 1
while i<10 :
    print(i)
    i+=1
print("Liftoff!")

1
2
3
4
5
6
7
8
9
Liftoff!

In [67]:
for i in range (1,21):
    if i < 16:
        if i%3 != 0:
          print(i)

1
2
4
5
7
8
10
11
13
14

In [72]:
words = ["apple", "banana", "cherry", "date"]
first_latters = []
for i in words:
    for j in i:
        first_latters.append(j[0])
        break
print(first_latters)

['a', 'b', 'c', 'd']

In [75]:
numbers = [1, -2, 3, -4, 5, -6, 7, -8]
p_numbers = []
for i in numbers:
    if i>0:
        p_numbers.append(i)
print(p_numbers)

[1, 3, 5, 7]

In [78]:
numbers = [1, -2, 3, -4, 5, -6, 7, -8]
number = []
for i in numbers:
    if i>0:
        number.append(i)
    else:
        number.append("negative")
number

[1, 'negative', 3, 'negative', 5, 'negative', 7, 'negative']

In [79]:
x = [[1, 2], [3, 4], [5, 6]]
Y = []
for i in x:
    for j in i:
        j *= 2
        Y.append(j)
Y

[2, 4, 6, 8, 10, 12]